
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
header{
	padding: 15px 0;
}
/*hero start*/
.hero{
	padding: 45px 0 50px;
}
.h_text h1{
	font-size: 30px;
	line-height: 45px;
	padding-bottom: 20px;
}
.h_text p{
	padding: 0 30px;
}
.h_btn{
	margin-top: 40px;
}

/*exp start*/
.exp1{
	height: 65px;
}
.exp_img{
	padding: 0 10px;
}
.exp {
    padding: 85px 0 50px;
}
.exp_txt{
	padding-top: 30px;
}

/*services start*/
.services{
	padding: 50px 0 30px;
	text-align: center;
}

/*projects start*/
.projects{
	padding: 60px 0 40px;
	text-align: center;
}
.pr_card{
	padding: 0 20px;
}
.pr_card p{
}

/*reviews start*/
.reviews{
	text-align: center;
}
.r_card{
	margin: 20px 10px;
	padding: 20px;
}	
.r_b{
	margin-top: 5px;
}

/*footer start*/
footer{
	padding: 60px 50px;
	text-align: center;
}
.f_c1 ul li:last-child{
	margin-right: 0 !important;
}
.f_c2{
	margin-top: 40px;
}
.f_c1 p{
	padding-right: 0;
}



}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
header{
	padding: 20px 0;
}
/*hero start*/
.hero{
	padding: 50px 0 50px;
}
.h_text h1{
	font-size: 35px;
	line-height: 50px;
	padding-bottom: 20px;
}
.h_text p{
	padding: 0 40px;
}
.h_btn{
	margin-top: 40px;
}

/*exp start*/
.exp {
    padding: 130px 0 50px;
}
.exp_txt{
	padding-top: 50px;
}

/*services start*/
.services{
	text-align: center;
	padding: 50px 0;
}

/*projects start*/
.projects{
	text-align: center;
}

.pr_card p{
	padding: 0 30px;
}

/*reviews start*/
.reviews{
	text-align: center;
}
.r_b{
	margin-top: 5px;
}

/*footer start*/
footer{
	padding: 60px 50px;
	text-align: center;
}
.f_c1 p{
	padding-right: 0;
}
.f_c1 ul li:last-child{
	margin-right: 0 !important;
}
.f_c2{
	margin-top: 40px;
}


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
		/*header start*/
header{
	padding: 20px 0;
}
/*hero start*/
.hero{
	padding: 70px 0 ;
}
.h_text h1{
	font-size: 45px;
	line-height: 70px;
	padding-bottom: 25px;
}
.h_text p{
	padding: 0 50px;
}
.h_btn{
	margin-top: 40px;
}

/*exp start*/
.exp {
    padding: 270px 0 70px;
}

/*footer start*/
footer{
	padding: 80px 60px;
	text-align: center;
}
.f_c1 p{
	padding-right: 0;
}
.f_c2{
	margin-top: 40px;
}
.f_c1 ul li:last-child{
	margin-right: 0 !important;
}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*	hero start*/
.h_text h1{
	font-size: 58px;
	line-height: 85px;
}

/*exp2 start*/
.exp1{
	height: 180px;
	position: relative;
}
.exp {
    padding: 330px 0 100px;
}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
/*exp2 start*/
.exp1{
	height: 220px;
	position: relative;
}
.exp {
    padding: 385px 0 100px;
}

}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
/*exp2 start*/
.exp1{
	height: 250px;
	position: relative;
}
.exp {
    padding: 430px 0 100px;
}

}